<button type="button" class="btn btn-primary" (click)="openModal(withdraw)">Withdraw</button>
 
<ng-template #withdraw>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Withdraw</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><span>Account:</span> {{currentAccountNum}}</p>
    <label for="withdraw-amount">Withdraw amount:</label><br>
    <input #withdrawAmt id="withdraw-amount" name="withdraw-amount" autocomplete="off"><br><br>
    <button (click)="withdrawAcc(getUserInputAmount(withdrawAmt.value))" (click)="closeModal()">OK</button>
  </div>
</ng-template>

<button type="button" class="btn btn-primary" (click)="openModal(deposit)">Deposit</button>
 
<ng-template #deposit>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Deposit</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><span>Account:</span> {{currentAccountNum}}</p>
    <label for="deposit-amount">Deposit amount:</label><br>
    <input #depositAmt id="deposit-amount" name="deposit-amount" autocomplete="off"><br><br>
    <button (click)="depositAcc(getUserInputAmount(depositAmt.value))" (click)="closeModal()">OK</button>
  </div>
</ng-template>

<button type="button" class="btn btn-primary" (click)="openModal(transfer)">Transfer</button>
 
<ng-template #transfer>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Transfer</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label for="account-choice">Account transferring to: </label>
    <br>
    <input list="available-accounts" id="accounts-dropdown" name="account-choice" #accountTo>
    <br>

    <datalist id="available-accounts">
        <option *ngFor="let account of apiService.accounts" [value]="account.accountNum">
    </datalist><br>

    <label for="transfer-amount">Transfer amount:</label><br>
    <input #transferAmt id="transfer-amount" name="transfer-amount" autocomplete="off"><br><br>
    <label for="memo">Memo:</label><br>
    <textarea name="memo" id="memo" cols="30" rows="3"></textarea><br><br>
    <button (click)="transferAcc(getUserInputAmount(transferAmt.value), accountTo.value)" (click)="closeModal()">OK</button>
  </div>
</ng-template>