.accordion {
    margin: auto;
    margin-top: 65px;
    width: 75%;
}

.accordion-info {
    display: flex;
}

.account-info {
    display: flex;
    justify-content: space-between;
    max-width: 94%;
    margin: 10px auto;
}

